.header {
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 50px;
}

.card-header-red {
    background-color: red;
    padding: 20px;
}

#password {
    color: rgb(0, 0, 0)
}

.footer {
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}

/* .footer-div {
    background-color: blue;
    text-align: center;
    font-size: 35px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
} */

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
